@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<a href="/Home/Index">Back to Home</a>
<p>Contact: Admin@elca.vn</p>
<p>Tel: 0913xxxxx</p>